/* app css stylesheet */
html, body {
    font-family: "HelveticaNeue-Light", Arial, sans-serif;
}

.page {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
}

.header {
    position: absolute;
    top: 0px;
    height: 40px;
    left: 0px;
    right: 0px;
    background-color: #14CCC6;
    z-index: 100;
    box-shadow: 0px 0px 4px black;
}

.header > .title {
    color: white;
    text-align: center;
    line-height: 40px;

}

.page-body {
    position: absolute;
    top: 0px;
    bottom: 80px;
    left: 0px;
    right: 0px;
    width: 100%;
}

.rumors-container{
    position: absolute;
    display: block;
    top: 40px;
    bottom: 80px;
    left: 0px;
    right: 0px;
    overflow-y: auto;
}

.footer {
    position: absolute;
    bottom: 0px;
    height: 80px;
    left: 0px;
    right: 0px;
    background-color: #14CCC6;
    text-align: center;
    line-height: 80px;
    z-index: 100;
    box-shadow: 0px -2px 4px rgba(128,128,128,0.5);
}

.grid-sizer {
    width: 50%;
    height: 100px;
}

.rumor {
    position: relative;
    box-sizing: border-box;
    padding: 4px;
    display: inline-block;
    width: 50%;
    height: 100px;
    background-color: #088AD9;
    overflow: hidden;
}

.rumor > * {
    font-size: 0.7em;
    color: white;
}

.rumor.double-width{
    width: 100%;
}

.rumor.double-height{
    height: 100px;
}

.page-body > *:nth-child(0) {
    background: #088AD9
    color: white;
}

.page-body > *:nth-child(1) {
    background: #0BBDE3
}

.page-body > *:nth-child(2) {
    background: #14CCC6
}

.page-body > *:nth-child(3) {
    background: #0BE3AD
}

.page-body > *:nth-child(4) {
    background: #02D974
}

.page-body > *:nth-child(5) {
    background: #088AD9
color: white;
}

.page-body > *:nth-child(6) {
    background: #0BBDE3
}

.page-body > *:nth-child(7) {
    background: #14CCC6
}

.page-body > *:nth-child(8) {
    background: #0BE3AD
}

.page-body > *:nth-child(9) {
    background: #02D974
}


.sender {
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #105cb6;
    text-align: center;
    color: #ffffff;
    line-height: 40px;
}

.sender.lp{
    background-image: url('img/photo.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: rgba(0,0,0,0);
}

.msg {
    color: #ffffff;
    font-size: 0.8em;
}

.db {
    color: #fafafa;
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 0.7em;
    height: 32px;
    line-height: 32px;
}

.distance, .commentsCount, .echosCount{    display: inline-block;}



.echoButton{
    width: 100px;
    height: 40px;
    background-color: #fafafa;
}


