/* app css stylesheet */
html, body {
    font-family: "HelveticaNeue-Light", Arial, sans-serif;
}

.page {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
}

.header {
    position: absolute;
    top: 0px;
    height: 40px;
    left: 0px;
    right: 0px;
    background-color: #14CCC6;
    z-index: 100;
    box-shadow: 0px 0px 4px black;
}

.header > .title {
    color: white;
    text-align: center;
    line-height: 40px;
}

.page-body {
    position: absolute;
    top: 0px;
    bottom: 80px;
    left: 0px;
    right: 0px;
    width: 100%;
}

.rumors-container {
    position: absolute;
    display: block;
    top: 40px;
    bottom: 80px;
    left: 0px;
    right: 0px;
    overflow-y: auto;
}

.footer {
    position: absolute;
    bottom: 0px;
    height: 80px;
    left: 0px;
    right: 0px;
    background-color: #14CCC6;
    text-align: center;
    line-height: 80px;
    z-index: 100;
    box-shadow: 0px -2px 4px rgba(128,128,128,0.5);
}

.grid-sizer {
    width: 50%;
    height: 100px;
}

.rumor {
    display: inline-block;
    box-sizing: border-box;
    padding: 4px;
    width: 50%;
    height: 100px;
    background-color: #088AD9;
    overflow: hidden;
}

.rumor > * {
    font-size: 0.7em;
    color: white;
}

.rumor.double-width{
    width: 100%;
}

.rumor.double-height{
    height: 100px;
}


.sender {
    box-sizing: border-box;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 2px 2px 2px black;
    width: 40px;
    height: 40px;
    background-color: #4617b4;
    text-align: center;
    color: #ffffff;
    line-height: 40px;
}

.sender.lp{
    background-image: url('img/rumoors-white.svg');
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    color: rgba(0,0,0,0);
}

.msg {
    margin-top: 2px;
    color: #ffffff;
    font-size: 0.8em;
    font-weight: bold;
    max-height: 32px;
    text-overflow: ellipsis;
    overflow: hidden;

}

.db {
    color: #fafafa;
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 0.7em;
    height: 32px;
    line-height: 32px;
}

.order{display: none}

.distance, .commentsCount, .echosCount{    display: inline-block;}

.echoText {

    width: 60%;
    height: 36px;
    max-width: 300px;

}

.echoButton {

    width: 30%;
    max-width: 160px;
    height: 36px;
    background-color: #fafafa;
    border: 0;

}


