/* app css stylesheet */
html, body{
  font-family: "HelveticaNeue-Light", Arial, sans-serif;
}
.page {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.header {
   position: absolute;
   top: 0px;
   height: 40px;
   left: 0px;
   right: 0px;
  background-color: #14CCC6;
 }

.header >.title{
    color: white;
    text-align: center;
    line-height: 40px;
}

.page-body {
  position: absolute;
  top: 40px;
  bottom: 80px;
  left: 0px;
  right: 0px;
    width: 100%;

}

.footer {
  position: absolute;
  bottom: 0px;
  height: 80px;
  left: 0px;
  right: 0px;
  background-color: #14CCC6;
}

.grid-sizer{width: 50%;}

.rumor {
    position: relative;
    box-sizing: border-box;
    padding: 8px;
    display: inline-block;
width: 50%;
    background-color: #fafafa;
}
.page-body > *:nth-child(0) { background: hsl(   0, 100%, 50%); }
.page-body > *:nth-child(1) { background: hsl(  36, 100%, 50%); }
.page-body > *:nth-child(2) { background: hsl(  72, 100%, 50%); }


.sender {
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #105cb6;
    text-align: center;
    color: #ffffff;
    line-height: 40px;
}
.msg{}
.db{}


