@color0: #f3b200;
@color1: #632f00;
@color2: #4617b4;
@color3: #00c13f;
@color4: #aa40ff;
@color5: #91d100;
@color6: #fe7c22;
@color7: #77b900;
@color8: #b01e00;
@color9: #006ac1;
@color10: #ff981d;

.page-body > *:nth-child(0) { background: @color0 }
.page-body > *:nth-child(1) { background: @color1 }
.page-body > *:nth-child(2) { background: @color2 }
.page-body > *:nth-child(3) { background: @color3 }
.page-body > *:nth-child(4) { background: @color4 }
.page-body > *:nth-child(5) { background: @color5 }
.page-body > *:nth-child(6) { background: @color6 }
.page-body > *:nth-child(7) { background: @color7 }
.page-body > *:nth-child(8) { background: @color8 }
.page-body > *:nth-child(9) { background: @color9 }

