<div class="page" >

    <div class="header">
 <div class="title">Rumors</div>
    </div>
    <div class="rumors-container">
    <div class="page-body" id="rumors">
        <div ng-repeat="rumor in rumors" ng-class="{'double-width': rumor.doubleWidth, 'double-height': rumor.doubleHeight}" class="rumor messages" data-category="messages">
            <div class="sender lp">US</div>
            <div class="msg">{{rumor.msg}}</div>
            <div class="db">80 db</div>
            <div class="distance">32</div>
            <div class="commentsCount">12</div>
            <div class="echosCount">7</div>
            <div class="order">{{rumor.order}}</div>
        </div>
    </div>
    </div>
    <div class="footer">
        <input type="text" ng-model="newRumor.msg">
        <button class="echoButton" ng-click="pushRumor()"><img src="img/echo.svg" /></button>

    </div>
</div>